header, .copyright{
    background-color: #2C3E50;
}
.hero, .about{
    background-color: #1ABC9C;
}
footer{
    background-color: #3A546D;
}
.star-deco-black::before,
.star-deco-black::after{
    content: "";
    width: 10%;
    height: 4px;
    background-color: black;
    display: inline-block;
    margin-bottom: 7px;
    border-radius: 2px;
}
.star-deco-white::before,
.star-deco-white::after{
    content: "";
    width: 10%;
    height: 4px;
    background-color: white;
    display: inline-block;
    margin-bottom: 7px;
    border-radius: 2px;
}
.hero-img{
    max-width: 230px;
}
